# ===== BASE PARAMS =====
PROJECT_NAME=Activium
VERSION=0.0.1
DEBUG=1
URL=http://localhost:3000
WWW_PATH=/home/www

# ===== TELEGRAM BOT =====
BOT_TOKEN=bot_id:test
ADMIN_CHAT_IDS='[0]'
BOT_URL=https://t.me/username

# ===== API =====
API_KEY=test
CORS_ALLOWED_ORIGINS=http://localhost:3000
API_PREFIX=/api/v2
APK_PREFIX=/apk
HIDE_VALIDATION_ERRORS_IN_DOCS=1
TEMPLATES_DIRECTORY=templates

# ===== DNEVNIK =====
DNEVNIK_CLIENT_ID=key

# ===== AUTHOR =====
AUTHOR=tgmaksim
AUTHOR_LINK=https://tgmaksim.ru

# ===== POSTGRES DOCKER =====
DB_SCHEME=postgresql+asyncpg
DB_HOST=db
DB_NAME=app_db
DB_USER=postgres
DB_PASS=postrgres
DB_PORT=5432
DB_ECHO=1
