# ===== BASE PARAMS =====
PROJECT_NAME=Activium
VERSION=0.0.1
DEBUG=1
URL=http://localhost:8000
WWW_PATH=/www
RESOURCES_PATH=resources

# ===== Server =====
COUNT_SERVER_WORKERS=1
START_TGBOT_WORKER=1
COUNT_MARKS_NOTIFICATIONS_WORKERS=1
START_MARKS_NOTIFICATIONS_WORKER=1
COUNT_EA_NOTIFICATIONS_WORKERS=1
START_EA_NOTIFICATIONS_WORKER=1
COUNT_NOTES_NOTIFICATIONS_WORKERS=1
START_NOTES_NOTIFICATIONS_WORKER=1

# ===== Github =====
GITHUB=https://github.com/tgmaksim/Activium
GITHUB_SERVER=https://github.com/tgmaksim/ActiviumServer

# ===== Hosting API =====
HOSTING_GATEWAY_TOKEN_URL=null
HOSTING_API_KEY=null
HOSTING_API_URL=null
VIRTUALHOST_ID=0
LOGS_PGADMIN_OPEN=null

# ===== AI =====
OPENAI_URL=https://example.com/v1
OPENAI_API_KEY=key
OPENAI_MODEL=openai/gpt-5.4-pro

# ===== TELEGRAM BOT =====
BOT_TOKEN=bot_id:token
ADMIN_CHAT_IDS='[0]'
BOT_URL=https://t.me/username

# ===== SCHOOL POSTS =====
TELEGRAM_PREVIEW_URL=https://proxy.com/?url=

# ===== API =====
API_KEY=test
CORS_ALLOWED_ORIGINS='[]'
API_PREFIX=/api/v2
APK_PREFIX=/apk
HIDE_VALIDATION_ERRORS_IN_DOCS=1
TEMPLATES_DIRECTORY=templates

# ===== DNEVNIK =====
DNEVNIK_CLIENT_ID=key

# ===== AUTHOR =====
AUTHOR=tgmaksim
AUTHOR_LINK=https://tgmaksim.ru
ADMIN_TIMEZONE=0

# ===== POSTGRES DOCKER =====
DB_SCHEME=postgresql+asyncpg
DB_HOST=db
DB_NAME=db
DB_USER=db_user
DB_PASS=db_password
DB_PORT=5432
DB_ECHO=0
